<ion-list>
  <ion-list-header>
    <ion-label>Admin Panel</ion-label>
  </ion-list-header>

  <ion-menu-toggle autoHide="false">
    <ion-item routerLink="/admin/dashboard" routerLinkActive="selected" routerDirection="root" detail="false">
      <ion-icon slot="start" name="apps"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-item>
  </ion-menu-toggle>

  <ion-item button (click)="toggleApplicantMenu()">
    <ion-icon slot="start" name="people"></ion-icon>
    <ion-label>Applicants</ion-label>
    <ion-icon slot="end" [name]="isApplicantMenuOpen ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
  </ion-item>

  <ion-list *ngIf="isApplicantMenuOpen">
    <ion-menu-toggle autoHide="false">
      <ion-item routerLink="/admin/applicants" routerLinkActive="selected" routerDirection="root" detail="false">
        <ion-icon slot="start" name="list"></ion-icon>
        <ion-label>All Applicants</ion-label>
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle autoHide="false" *ngFor="let status of applicantStatuses">
      <ion-item [routerLink]="['/admin/applicants/status', status]" routerLinkActive="selected" routerDirection="root" detail="false">
        <ion-icon slot="start" name="person"></ion-icon>
        <ion-label>{{ status | titlecase }}</ion-label>
      </ion-item>
    </ion-menu-toggle>
  </ion-list>

  <ion-menu-toggle autoHide="false">
    <ion-item routerLink="/admin/cases" routerLinkActive="selected" routerDirection="root" detail="false">
      <ion-icon slot="start" name="folder-open"></ion-icon>
      <ion-label>Cases</ion-label>
    </ion-item>
  </ion-menu-toggle>

  <ion-menu-toggle autoHide="false">
    <ion-item routerLink="/admin/fras" routerLinkActive="selected" routerDirection="root" detail="false">
      <ion-icon slot="start" name="business"></ion-icon>
      <ion-label>FRAs</ion-label>
    </ion-item>
  </ion-menu-toggle>

  <ion-footer>
    <ion-toolbar>
      <ion-button expand="full" color="danger" (click)="logout()">
        <ion-icon slot="start" name="log-out"></ion-icon>
        Logout
      </ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-list>
