<ion-header>
  <ion-toolbar class="glass-toolbar">
    <ion-title>Foreign Recruitment Agencies</ion-title>
    <ion-buttons slot="end">
              <ion-button routerLink="/admin/fras/new">
                <i class="fa-solid fa-plus"></i>
                New FRA
              </ion-button>    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="filterFras()" placeholder="Search FRAs..."></ion-searchbar>

  <div *ngIf="isLoading" class="ion-padding ion-text-center">
    <p>Loading FRAs...</p>
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <ion-list *ngIf="!isLoading">
    <ion-item-divider class="fra-row">
      <ion-label (click)="sort('name')">Name <i class="fa-solid fa-arrows-up-down"></i></ion-label>
      <ion-label (click)="sort('contact')">Contact <i class="fa-solid fa-arrows-up-down"></i></ion-label>
      <ion-label (click)="sort('country')">Country <i class="fa-solid fa-arrows-up-down"></i></ion-label>
      <ion-label class="ion-text-right">Actions</ion-label>
    </ion-item-divider>

    <ion-item class="fra-row" *ngFor="let fra of filteredFras">
      <ion-label>
        <h2>{{ fra.name }}</h2>
        <p>{{ fra.contact }}</p>
        <p>{{ fra.country }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button [routerLink]="['/admin/fras/edit', fra.id]" fill="clear">
          <i class="fa-solid fa-pen-to-square"></i>
        </ion-button>
        <ion-button (click)="deleteFra(fra.id)" fill="clear" color="danger" *ngIf="isAdminUser">
          <i class="fa-solid fa-trash"></i>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item *ngIf="!filteredFras || filteredFras.length === 0">
      <ion-label class="ion-text-center">No FRAs found.</ion-label>
    </ion-item>
  </ion-list>
</ion-content>