<ion-header>
  <ion-toolbar>
    <ion-title>Foreign Recruitment Agencies</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/admin/fras/new">
        <ion-icon name="add-outline"></ion-icon>
        New FRA
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="filterFras()" placeholder="Search FRAs..."></ion-searchbar>

  <div *ngIf="isLoading" class="ion-padding ion-text-center">
    <p>Loading FRAs...</p>
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <ion-list *ngIf="!isLoading">
    <ion-item-divider>
      <ion-label (click)="sort('name')">Name <ion-icon name="swap-vertical-outline"></ion-icon></ion-label>
      <ion-label (click)="sort('contact')">Contact <ion-icon name="swap-vertical-outline"></ion-icon></ion-label>
      <ion-label (click)="sort('country')">Country <ion-icon name="swap-vertical-outline"></ion-icon></ion-label>
      <ion-label class="ion-text-right">Actions</ion-label>
    </ion-item-divider>

    <ion-item *ngFor="let fra of filteredFras">
      <ion-label>
        <h2>{{ fra.name }}</h2>
        <p>{{ fra.contact }}</p>
        <p>{{ fra.country }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button [routerLink]="['/admin/fras/edit', fra.id]" fill="clear">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="deleteFra(fra.id)" fill="clear" color="danger">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item *ngIf="!filteredFras || filteredFras.length === 0">
      <ion-label class="ion-text-center">No FRAs found.</ion-label>
    </ion-item>
  </ion-list>
</ion-content>