<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Explicitly set MIME type for JavaScript files
  AddType text/javascript .js

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [L]
</IfModule>

