<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/admin/applicants"></ion-back-button>
      </ion-buttons>
      <ion-title>{{ isEditMode ? 'Edit' : 'Create' }} Applicant</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid class="ion-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size-xl="8" size-lg="10" size-md="12" size-sm="12" size="12">
        <ion-card>
          <ion-card-content>
            <div *ngIf="isLoading" class="ion-text-center ion-padding">
              <p>Loading applicant data...</p>
              <ion-spinner name="crescent"></ion-spinner>
            </div>

            <form *ngIf="!isLoading" (ngSubmit)="saveApplicant()" #applicantForm="ngForm">
              <!-- Personal Information -->
              <ion-card-title class="ion-padding-bottom">Personal Information</ion-card-title>
              <ion-list lines="full">
                <ion-item>
                  <ion-input label="First Name" type="text" [(ngModel)]="applicant.first_name" name="first_name" required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input label="Middle Name" type="text" [(ngModel)]="applicant.middle_name" name="middle_name"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input label="Last Name" type="text" [(ngModel)]="applicant.last_name" name="last_name" required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input label="Passport Number" type="text" [(ngModel)]="applicant.passport_number" name="passport_number"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input label="Date of Birth" type="date" [(ngModel)]="applicant.date_of_birth" name="date_of_birth"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-select label="Country" [(ngModel)]="applicant.country" name="country">
                    <ion-select-option value="">Select Country</ion-select-option>
                    <ion-select-option value="US">United States</ion-select-option>
                    <ion-select-option value="CA">Canada</ion-select-option>
                    <ion-select-option value="MX">Mexico</ion-select-option>
                    <ion-select-option value="BR">Brazil</ion-select-option>
                    <ion-select-option value="GB">United Kingdom</ion-select-option>
                    <ion-select-option value="FR">France</ion-select-option>
                    <ion-select-option value="DE">Germany</ion-select-option>
                    <ion-select-option value="IT">Italy</ion-select-option>
                    <ion-select-option value="ES">Spain</ion-select-option>
                    <ion-select-option value="CN">China</ion-select-option>
                    <ion-select-option value="IN">India</ion-select-option>
                    <ion-select-option value="JP">Japan</ion-select-option>
                    <ion-select-option value="KR">South Korea</ion-select-option>
                    <ion-select-option value="AU">Australia</ion-select-option>
                    <ion-select-option value="NZ">New Zealand</ion-select-option>
                    <ion-select-option value="PH">Philippines</ion-select-option>
                    <ion-select-option value="SA">Saudi Arabia</ion-select-option>
                    <ion-select-option value="AE">United Arab Emirates</ion-select-option>
                    <ion-select-option value="QA">Qatar</ion-select-option>
                    <ion-select-option value="KW">Kuwait</ion-select-option>
                    <ion-select-option value="BH">Bahrain</ion-select-option>
                    <ion-select-option value="OM">Oman</ion-select-option>
                    <ion-select-option value="EG">Egypt</ion-select-option>
                    <ion-select-option value="JO">Jordan</ion-select-option>
                    <ion-select-option value="LB">Lebanon</ion-select-option>
                    <ion-select-option value="IQ">Iraq</ion-select-option>
                    <ion-select-option value="IR">Iran</ion-select-option>
                    <ion-select-option value="TR">Turkey</ion-select-option>
                    <ion-select-option value="IL">Israel</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-list>

              <!-- Contact Details -->
              <ion-card-title class="ion-padding-top ion-padding-bottom">Contact Details</ion-card-title>
              <ion-list lines="full">
                <ion-item>
                  <ion-input label="Email" type="email" [(ngModel)]="applicant.email" name="email"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input label="Phone Number" type="text" [(ngModel)]="applicant.phone_number" name="phone_number"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input label="WhatsApp" type="text" [(ngModel)]="applicant.whatsapp" name="whatsapp"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input label="Facebook URL" type="url" [(ngModel)]="applicant.facebook" name="facebook"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-textarea label="Address" rows="3" [(ngModel)]="applicant.address" name="address"></ion-textarea>
                </ion-item>
              </ion-list>

              <!-- Employment Details -->
              <ion-card-title class="ion-padding-top ion-padding-bottom">Employment Details</ion-card-title>
              <ion-list lines="full">
                <ion-item>
                  <ion-select label="Main Status" [(ngModel)]="applicant.main_status" name="main_status">
                    <ion-select-option value="">Select Status</ion-select-option>
                    <ion-select-option *ngFor="let status of statuses" [value]="status">{{ status }}</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-select label="Applicant Type" [(ngModel)]="applicant.applicant_type" name="applicant_type">
                    <ion-select-option value="household">Household</ion-select-option>
                    <ion-select-option value="skilled">Skilled</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-select label="Foreign Recruitment Agency" [(ngModel)]="applicant.fra_id" name="fra_id">
                    <ion-select-option [value]="null">Select Agency</ion-select-option>
                    <ion-select-option *ngFor="let fra of fras" [value]="fra.id">{{ fra.name }}</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-input label="Deployment Date" type="date" [(ngModel)]="applicant.date_deployment" name="date_deployment"></ion-input>
                </ion-item>
              </ion-list>

              <div class="ion-padding-top ion-text-right">
                <ion-button fill="clear" routerLink="/admin/applicants">Cancel</ion-button>
                <ion-button type="submit" [disabled]="!applicantForm.form.valid">Save</ion-button>
              </div>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
