<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin/fras"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isEditMode ? 'Edit FRA' : 'Add New FRA' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <div *ngIf="isLoading" class="ion-text-center ion-padding">
        <p>Loading FRA data...</p>
        <ion-spinner name="crescent"></ion-spinner>
      </div>

      <form *ngIf="!isLoading" (ngSubmit)="saveFra()">
        <ion-list lines="full">
          <ion-item>
            <ion-input label="Name" type="text" [(ngModel)]="fra.name" name="name" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-input label="Contact Person" type="text" [(ngModel)]="fra.contact" name="contact" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-textarea label="Address" rows="3" [(ngModel)]="fra.address" name="address" required></ion-textarea>
          </ion-item>

          <ion-item>
            <ion-input label="Country" type="text" [(ngModel)]="fra.country" name="country" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-input label="Agency ID" type="number" [(ngModel)]="fra.agency_id" name="agency_id"></ion-input>
          </ion-item>
        </ion-list>

        <div class="ion-padding-top ion-text-right">
          <ion-button fill="clear" (click)="router.navigate(['/admin/fras'])">Cancel</ion-button>
          <ion-button type="submit">{{ isEditMode ? 'Update FRA' : 'Create FRA' }}</ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
